vendor
node_modules
composer.lock
.env
.npmrc
/public/assets/video/
/public/assets/css/
/public/assets/js/
assets/**/*.min.js
assets/**/*.min.css
assets/**/*.min.js.map
assets/**/*.min.css.map
App/tools
App/bootstrap.php
