@use "./config" as c;
@use "./global";

@use './resources/hero02';
@use './resources/moduleButtonType01';
@use './resources/moduleButtonType02';
@use './resources/moduleH1Type01';
@use './resources/sect02';



