@use './config' as c;
@use './global';
@use './resources/hero02';
@use './resources/moduleH1Type01';
@use './resources/moduleH1Type02';
@use './resources/moduleH2Type01';
@use './resources/moduleButtonType01';
@use './resources/moduleButtonType02';
@use './resources/sect01';
@use './resources/art08';
@use './resources/artForm01';

