@use './config' as c;
@use './global';
@use './resources/form';
@use './resources/modulePassChecker'; 

main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/assets/img/dummy/dummy_900.avif");
    background-size: cover;
    background-position: center 0%;
    will-change: background-position;
    @media only screen and (min-width:c.$tablet){
      &{
        background-image: url("/assets/img/dummy/dummy_1800.avif");
      }
    }
    @media only screen and (min-width:c.$tablet){
      &{
        background-image: url("/assets/img/dummy/dummy_2560.avif");
      }
    }
    >div{
        width: 100%;
        height: min-content;
        padding: 6rem c.$padMin;
        background-color: c.$color02bis2;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        background-size: 100px;
        background-position: 90% 90%;
        background-repeat: no-repeat;
        @media only screen and (min-width:c.$tablet){
            &{                
                max-width: 800px;
                padding: c.$padMax;
            }
        }
        .info{
            width: 100%;            
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            @media only screen and (min-width:c.$tablet){
                &{                
                    padding: 2rem;
                }
            }           
            p{            
                color: c.$color00;
                text-wrap: stable;
                hyphens: auto;
            
            }
        }    
        .contenedor_formulario{
            >:nth-child(1){
                .cuadro{
                    padding: 0rem;
                    row-gap: 2rem;
                }
                >:nth-child(1){                       
                    width: 100%;                       
                    #formulario{
                        background-color: initial;
                        min-height: initial;
                        border: initial;
                        max-width: 500px;
                        row-gap: 3rem;                       
                        input[type=submit]{                            
                            margin-top: 0.5rem;
                            @media only screen and (min-width:c.$desktop){
                                &{
                                    margin-top: 1rem;
                                }
                            }
                        }                          
                    }
                    a{
                        color: c.$color00;
                        padding-bottom: 4rem;
                    }
                }
            }
        }
    }
}