@use './config' as c;
@use './global';
@use './resources/hero01';
@use './resources/moduleH1Type01';
@use './resources/moduleH2Type01';
@use './resources/moduleButtonType01';
@use './resources/moduleButtonType02';
@use './resources/sect02';
@use './resources/art04';
@use './resources/art05';
@use './resources/art16';
