@use './config' as c;
@use './global';
@use './resources/hero00';
@use './resources/moduleH1Type01';
@use './resources/moduleH1Type02';
@use './resources/moduleH2Type01';
@use './resources/moduleButtonType01';
@use './resources/art03';
@use './resources/art10';
@use './resources/art12';
