@use "./config" as c;
@use "./global";

@use './resources/hero01'; 
@use './resources/art01';
@use './resources/artSlider01'; 

// header manual
header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-image: url("/assets/img/dummy/dummy_900.avif");
  background-size: cover;
  background-position: center 0%;
  will-change: background-position;
  @media only screen and (min-width: c.$tablet) {
    & {
      background-image: url("/assets/img/dummy/dummy_1800.avif");
    }
  }
  @media only screen and (min-width: c.$tablet) {
    & {
      background-image: url("/assets/img/dummy/dummy_2560.avif");
    }
  }
  .content {
    width: 100%;
    padding: c.$padMin;
    z-index: 20;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: c.$tablet) {
      & {
        width: 40%;
        position: absolute;
        left: 0;
      }
    }
    > img {
      width: 150px;
      filter: invert(1);
    }
    h1 {
      width: 100%;

      display: flex;
      flex-direction: column;
      @media only screen and (min-width: c.$tablet) {
        & {
          width: 80%;
        }
      }
      span {
        color: c.$color00;
        font-size: clamp(1.5rem, 3vw, 3rem);
      }
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-wrap: balance;
        column-gap: 1rem;

        & :nth-child(2) {
          font-size: clamp(2rem, 4vw, 4rem);
          text-transform: capitalize;
        }
      }
    }
    p span{
      font-size: clamp(0.8rem, 2vw, 2rem);
      color: c.$color00;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }   
  }
  > p {
    position: absolute;
    font-family: c.$fuente02;
    font-size: clamp(4rem, 30vw, 60rem);
    font-weight: 700;
    letter-spacing: clamp(-4rem, -30vw, -60rem);
    color: c.$color01bis;
    filter: opacity(0.4);
    @media only screen and (min-width: c.$tablet) {
      & {
        right: 5%;
      }
    }
  }
  .sombra {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: #000000;
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -moz-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#000000",
        endColorstr="#000000",
        GradientType=0
      );
  }
  .triangulo {
    width: 100%;
    height: 100vh;
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: c.$color01bis4;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    pointer-events: none; /* Para que no intercepte clics, si hace falta */
    @media only screen and (min-width: c.$tablet) {
      & {
        clip-path: polygon(50% 0, 20% 100%, 0 100%, 0 0);
      }
    }
  }
}

.artSlider01_00_classVar{
  .artSlider01-track .artSlider01-card img{
    object-fit: contain;
    object-position: center;
    width: 50%;
  }
}
