* {
            user-select: none;
        }

        html,
        body {
            overflow: hidden;
            background-color: #000;
        }

        body {
            margin: 0;
            position: fixed;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
        }

        canvas {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            z-index: 0;
        }
    

        .dg {
            opacity: 0.9;
        }

        .dg .property-name {
            overflow: visible;
        }

        @font-face {
            font-family: 'iconfont';
            src: url('iconfont.ttf') format('truetype');
        }

        .bigFont {
            font-size: 150%;
            color: #8C8C8C;
        }

        .cr.function.appBigFont {
            font-size: 150%;
            line-height: 27px;
            color: #A5F8D3;
            background-color: #023C40;
        }

        .cr.function.appBigFont .property-name {
            float: none;
        }

        .cr.function.appBigFont .icon {
            position: sticky;
            bottom: 27px;
        }

        .icon {
            font-family: 'iconfont';
            font-size: 130%;
            float: right;
        }

        .twitter:before {
            content: 'a';
        }

        .github:before {
            content: 'b';
        }

        .app:before {
            content: 'c';
        }

        .discord:before {
            content: 'd';
        }
    .container {
            position: relative;
            height: 100%;
            /* Set a height for the container */
            background-color: rgba(255, 255, 255, 0.2);
            /* Set a semi-transparent background color */
            border-radius: 20px;
            /* Apply a rounded border */
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
            /* Apply a box shadow */
            backdrop-filter: blur(10px);
            /* Apply a blur effect */
        }

        h1 {
            color: white;
            font-size: 32px;
            font-family: georgia;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
            z-index: 1;
        }